nav {
    background: #2d2e2e;
    height: 100%;
    ul {
        list-style-type:none;
        padding: 0;
        margin: 0;
        
        li {
            a {
                color: #ffffff;
                padding: 20px;
                display: block;
            }

            .activated {
                background-color: #00a8ff;
            }
        }
    }
}