<nav>
    <ul>
        <!-- <li>
        <a routerLink="Myinfo">
          <i class="material-icons">perm_identity</i>
        </a>
      </li> -->
        <li>
            <a routerLink="EContract">
                Econtract List
                <!-- <i class="material-icons">work</i> -->
            </a>
        </li>
        <li>
            <a routerLink="User">
                User List
                <!-- <i class="material-icons">supervised_user_circle</i> -->
            </a>
        </li>
        <li>
            <a routerLink="CreateNewContract">
                Create New Contract
            </a>
        </li>
<!--         <li>
            <a routerLink="EndorseEContract">
                Endorse Econtract
            </a>
        </li>
        <li>
            <a routerLink="ReviewEContract">
                Review Econtract
            </a>
        </li>
        <li>
            <a routerLink="UpdateEContract">
                Update EContract
            </a>
        </li> -->
        <!-- <li>
      <a routerLink="myecontracts">
        <i class="material-icons">message</i>
      </a>
    </li> -->
    </ul>
</nav>
