<!--
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Create asset</h4>
          <p class="modal-intro">Enter the required values below.</p>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">





              <div class="form-group text-left">
                <label for="caseid">caseid</label>

                  <input formControlName="caseid" type="text" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="property">property</label>

                  <input formControlName="property" type="text" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="amount">amount</label>

                  <input formControlName="amount" type="text" class="form-control">

              </div>




              <label for="contractState">contractState</label>
              <div class="checkbox">

                  <label>
                    <input

                        formControlName="contractState"

                      name="contractState"
                      value="Draft"
                      type="radio"

                    />
                    Draft
                  </label>

                  <label>
                    <input

                        formControlName="contractState"

                      name="contractState"
                      value="Review"
                      type="radio"

                    />
                    Review
                  </label>

                  <label>
                    <input

                        formControlName="contractState"

                      name="contractState"
                      value="Revise"
                      type="radio"

                    />
                    Revise
                  </label>

                  <label>
                    <input

                        formControlName="contractState"

                      name="contractState"
                      value="Endorse"
                      type="radio"

                    />
                    Endorse
                  </label>

                  <label>
                    <input

                        formControlName="contractState"

                      name="contractState"
                      value="Close"
                      type="radio"

                    />
                    Close
                  </label>

              </div>




              <div class="form-group text-left">
                <label for="pSolicitorName">pSolicitorName</label>

                  <input formControlName="pSolicitorName" type="text" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="pSolicitorFirm">pSolicitorFirm</label>

                  <input formControlName="pSolicitorFirm" type="text" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="vSolicitorName">vSolicitorName</label>

                  <input formControlName="vSolicitorName" type="text" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="vSolicitorFirm">vSolicitorFirm</label>

                  <input formControlName="vSolicitorFirm" type="text" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="vendorName">vendorName</label>

                  <input formControlName="vendorName" type="text" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="vendorAddress">vendorAddress</label>

                  <input formControlName="vendorAddress" type="text" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="vendorIdno">vendorIdno</label>

                  <input formControlName="vendorIdno" type="text" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="purchaserName">purchaserName</label>

                  <input formControlName="purchaserName" type="text" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="purchaserAddress">purchaserAddress</label>

                  <input formControlName="purchaserAddress" type="text" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="purchaserIdno">purchaserIdno</label>

                  <input formControlName="purchaserIdno" type="text" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="terms">terms</label>

                  <input formControlName="terms" type="text" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="purchaserEndorse">purchaserEndorse</label>

                  <input formControlName="purchaserEndorse" type="checkbox" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="vendorEndorse">vendorEndorse</label>

                  <input formControlName="vendorEndorse" type="checkbox" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="pSolicitorEndorse">pSolicitorEndorse</label>

                  <input formControlName="pSolicitorEndorse" type="checkbox" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="vSolicitorEndorse">vSolicitorEndorse</label>

                  <input formControlName="vSolicitorEndorse" type="checkbox" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="endorse">endorse</label>

                  <input formControlName="endorse" type="number" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="active">active</label>

                  <input formControlName="active" type="checkbox" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="owner">owner</label>

                    <textarea formControlName="owner" class="form-control" rows="3"></textarea>

              </div>



        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Confirm</button>

        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">



            <div class="form-group text-left">
              <label for="caseid">caseid</label>


                <!-- <input [ngModel]="caseid" formControlName="caseid" class="form-control" disabled="disabled"> -->
                <input [ngModel]="caseid" formControlName="caseid" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="property">property</label>


                <input [ngModel]="property"formControlName="property" type="text" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="amount">amount</label>


                <input [ngModel]="amount"formControlName="amount" type="text" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="contractState">contractState</label>



                  <div class="row">
                    <div class="col-xs-12 checkbox">

                      <label>
                        <input

                            formControlName="contractState"
                            [ngModel]="contractState"

                          name="contractState"
                          value="Draft"
                          type="radio"

                        />
                        Draft
                      </label>

                      <label>
                        <input

                            formControlName="contractState"
                            [ngModel]="contractState"

                          name="contractState"
                          value="Review"
                          type="radio"

                        />
                        Review
                      </label>

                      <label>
                        <input

                            formControlName="contractState"
                            [ngModel]="contractState"

                          name="contractState"
                          value="Revise"
                          type="radio"

                        />
                        Revise
                      </label>

                      <label>
                        <input

                            formControlName="contractState"
                            [ngModel]="contractState"

                          name="contractState"
                          value="Endorse"
                          type="radio"

                        />
                        Endorse
                      </label>

                      <label>
                        <input

                            formControlName="contractState"
                            [ngModel]="contractState"

                          name="contractState"
                          value="Close"
                          type="radio"

                        />
                        Close
                      </label>

                    </div>
                  </div>



            </div>

            <div class="form-group text-left">
              <label for="pSolicitorName">pSolicitorName</label>


                <input [ngModel]="pSolicitorName"formControlName="pSolicitorName" type="text" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="pSolicitorFirm">pSolicitorFirm</label>


                <input [ngModel]="pSolicitorFirm"formControlName="pSolicitorFirm" type="text" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="vSolicitorName">vSolicitorName</label>


                <input [ngModel]="vSolicitorName"formControlName="vSolicitorName" type="text" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="vSolicitorFirm">vSolicitorFirm</label>


                <input [ngModel]="vSolicitorFirm"formControlName="vSolicitorFirm" type="text" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="vendorName">vendorName</label>


                <input [ngModel]="vendorName"formControlName="vendorName" type="text" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="vendorAddress">vendorAddress</label>


                <input [ngModel]="vendorAddress"formControlName="vendorAddress" type="text" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="vendorIdno">vendorIdno</label>


                <input [ngModel]="vendorIdno"formControlName="vendorIdno" type="text" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="purchaserName">purchaserName</label>

myForm
                <input [ngModel]="purchaserName"formControlName="purchaserName" type="text" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="purchaserAddress">purchaserAddress</label>


                <input [ngModel]="purchaserAddress"formControlName="purchaserAddress" type="text" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="purchaserIdno">purchaserIdno</label>


                <input [ngModel]="purchaserIdno"formControlName="purchaserIdno" type="text" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="terms">terms</label>


                <input [ngModel]="terms"formControlName="terms" type="text" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="purchaserEndorse">purchaserEndorse</label>


                <input [ngModel]="purchaserEndorse" formControlName="purchaserEndorse" type="checkbox" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="vendorEndorse">vendorEndorse</label>


                <input [ngModel]="vendorEndorse" formControlName="vendorEndorse" type="checkbox" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="pSolicitorEndorse">pSolicitorEndorse</label>


                <input [ngModel]="pSolicitorEndorse" formControlName="pSolicitorEndorse" type="checkbox" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="vSolicitorEndorse">vSolicitorEndorse</label>


                <input [ngModel]="vSolicitorEndorse" formControlName="vSolicitorEndorse" type="checkbox" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="endorse">endorse</label>


                <input [ngModel]="endorse" formControlName="endorse" type="number" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="active">active</label>


                <input [ngModel]="active" formControlName="active" type="checkbox" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="owner">owner</label>



                  <textarea [ngModel]="owner" formControlName="owner" class="form-control" rows="3"></textarea>



            </div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
  <div>
    {{user.getCurrentUser()}}
  </div>
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>

  <div class="row">
    <div class="col-md-9">
        <h1 class="asset-title" id='assetName'>EContract List</h1>
    </div>
    <div class="search">
      <select [(ngModel)]="criteria" id="searchCriteria">
        <option value='caseid'>Case ID</option>
        <option value='status'>State</option>
        <option value='purchaser'>Purchaser</option>
        <option value='vendor'>Vendor</option>
        <option value='active'>Active</option>
      </select>
      <!-- <input [ngModel]="value" id="searchValue" type="text"/> -->
      <input type="search" [(ngModel)]="searchText" placeholder="Search text">

      <button (click)="filterSearch(criteria,searchText)" class="button">
        <!-- data-toggle="modal" -->
        Filter results
      </button>
    </div>

    <!-- <div class="col-md-3">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">
          <span style="font-size: 14px;font-family: inherit;border-right:1px solid rgba(255,255,255,0.5);padding-right:0.6em;margin-right:0.5em;vertical-align:middle;">
              <svg class="plus-svg" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                <path fill-rule="evenodd" d="M5.5,4.5 L9.5,4.5 L10,4.5 L10,5.5 L9.5,5.5 L5.5,5.5 L5.5,9.5 L5.5,10 L4.5,10 L4.5,9.5 L4.5,5.5 L0.5,5.5 L0,5.5 L0,4.5 L0.5,4.5 L4.5,4.5 L4.5,0.5 L4.5,0 L5.5,0 L5.5,0.5 L5.5,4.5 Z"/>
              </svg>
          </span>
        Create Asset
      </button>
    </div> -->
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive">
        <thead class="thead">
            <tr>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th class="info text-center" colspan="4">Endorsement Status</th>
            <th ></th>
            <th ></th>
          </tr>
          <tr class="thead-cols">

                <th class="info">Case ID</th>

                <!-- <th class="info">property</th>

                <th class="info">amount</th> -->

                <th class="info">Contract State</th>

                <th class="info">Purchaser's Solicitor</th>

                <!-- <th class="info">pSolicitorFirm</th> -->

                <th class="info">Vendor's Solicitor</th>

                <!-- <th class="info">vSolicitorFirm</th> -->

                <!-- <th class="info">vendorName</th>

                <th class="info">vendorAddress</th>

                <th class="info">vendorIdno</th>

                <th class="info">purchaserName</th>

                <th class="info">purchaserAddress</th>

                <th class="info">purchaserIdno</th>

                <th class="info">terms</th> -->
                <th class="info quad-space">Purchaser</th>
                <th class="info quad-space">Solicitor</th>
                <th class="info quad-space">Vendor</th>
                <th class="info quad-space">Solicitor</th>

                <!-- <th class="info">endorse</th> -->

                <th class="info">Status</th>

                <!-- <th class="info">owner</th> -->

              <th class="info-actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">


                <td class="asset-properties">{{asset.caseid}}</td>

                <!-- <td class="asset-properties">{{asset.property}}</td>

                <td class="asset-properties">{{asset.amount}}</td> -->

                <td class="asset-properties">{{asset.contractState}}</td>
                <td class="asset-properties">
                  <div>Name: {{asset.pSolicitorName}}</div>
                  <div>Firm: {{asset.pSolicitorFirm}}</div>
                </td>
                <td class="asset-properties">
                    <div>Name: {{asset.vSolicitorName}}</div>
                    <div>Firm: {{asset.vSolicitorFirm}}</div>
                  </td>

<!--
                <td class="asset-properties">{{asset.pSolicitorName}}</td>

                <td class="asset-properties">{{asset.pSolicitorFirm}}</td>

                <td class="asset-properties">{{asset.vSolicitorName}}</td>

                <td class="asset-properties">{{asset.vSolicitorFirm}}</td> -->

                <!-- <td class="asset-properties">{{asset.vendorName}}</td>

                <td class="asset-properties">{{asset.vendorAddress}}</td>

                <td class="asset-properties">{{asset.vendorIdno}}</td>

                <td class="asset-properties">{{asset.purchaserName}}</td>

                <td class="asset-properties">{{asset.purchaserAddress}}</td>

                <td class="asset-properties">{{asset.purchaserIdno}}</td>

                <td class="asset-properties">{{asset.terms}}</td> -->

                <td class="asset-properties">
                  <div *ngIf="asset.purchaserEndorse">
                    <i class="material-icons">check_box</i>
                  </div>
                  <div *ngIf="!asset.purchaserEndorse">
                    <i class="material-icons">check_box_outline_blank</i>
                  </div>
                </td>
                <td class="asset-properties">
                  <div *ngIf="asset.pSolicitorEndorse">
                    <i class="material-icons">check_box</i>
                  </div>
                  <div *ngIf="!asset.pSolicitorEndorse">
                    <i class="material-icons">check_box_outline_blank</i>
                  </div>
                </td>
                <td class="asset-properties">
                  <div *ngIf="asset.vendorEndorse">
                    <i class="material-icons">check_box</i>
                  </div>
                  <div *ngIf="!asset.vendorEndorse">
                    <i class="material-icons">check_box_outline_blank</i>
                  </div>
                </td>
                <td class="asset-properties">
                  <div *ngIf="asset.vSolicitorEndorse">
                    <i class="material-icons">check_box</i>
                  </div>
                  <div *ngIf="!asset.vSolicitorEndorse">
                    <i class="material-icons">check_box_outline_blank</i>
                  </div>
                </td>

                <!-- <td class="asset-properties">{{asset.endorse}}</td> -->

                <td class="asset-properties">{{asset.active}}</td>

                <!-- <td class="asset-properties">{{asset.owner}}</td> -->

            <td>
              <!-- <button (click)="getForm(asset.caseid);" type="button" class="btn btn-update" data-toggle="modal" data-target="#updateAssetModal">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="12.8px" height="12.8px" viewBox="0 0 30.7 30.7" style="enable-background:new 0 0 30.7 30.7;" xml:space="preserve">
               <g>
                 <path d="M1.5,30.7c0.1,0,0.2,0,0.4,0l5.9-1.5c0.8-0.2,1.3-1,1.1-1.8c-0.2-0.8-1-1.3-1.8-1.1l-3.6,0.9l0.8-3.8
                   c0.2-0.8-0.4-1.6-1.2-1.8c-0.8-0.2-1.6,0.4-1.8,1.2L0,28.9c-0.1,0.5,0.1,1,0.4,1.4C0.7,30.6,1.1,30.7,1.5,30.7z"/>
                 <path d="M10.4,25.2c0.3,0.3,0.7,0.4,1.1,0.4c0.4,0,0.8-0.1,1.1-0.4L30.3,7.5c0.6-0.6,0.6-1.5,0-2.1l-4.9-4.9
                   C25.1,0.2,24.7,0,24.3,0c-0.4,0-0.8,0.2-1.1,0.4L5.5,18.2c-0.3,0.3-0.4,0.7-0.4,1.1s0.2,0.8,0.4,1.1L10.4,25.2z M24.3,3.6l2.8,2.8
                   L11.5,22l-2.8-2.8L24.3,3.6z"/>
               </g>
               </svg>
              </button> -->

              <!-- <button (click)="setId(asset.caseid);" type="button" class="btn btn-delete" data-toggle="modal" data-target="#deleteAssetModal"> -->
                  
                <!-- <a class="list-group-item list-group-item-action" routerLink="['EndorseEContract', asset.caseid]">Endorse Contract</a> -->
                <a class="list-group-item list-group-item-action" [routerLink]="['/EndorseEContract/',asset.caseid]">Endorse Contract</a>
                <a class="list-group-item list-group-item-action" [routerLink]="['/ReviewEContract/',asset.caseid]">Review Contract</a>
                <a class="list-group-item list-group-item-action" [routerLink]="['/UpdateEContract/',asset.caseid]">Update Contract</a>
                <!-- <a class="list-group-item list-group-item-action" [routerLink]="['/ProcessEContract/',asset.caseid]">Process Contract</a> -->
              <!-- </button> -->

              <!-- <button (click)="setId(asset.caseid);" type="button" class="btn btn-delete" data-toggle="modal" data-target="#deleteAssetModal">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="13.8px" height="16px" viewBox="0 0 65.9 76.2" style="enable-background:new 0 0 65.9 76.2;" xml:space="preserve">
               <path d="M42.8,60.2V22.6c0-1.7-1.3-3-3-3s-3,1.3-3,3v37.6c0,1.7,1.3,3,3,3S42.8,61.9,42.8,60.2z M29.1,60.2V22.6c0-1.7-1.3-3-3-3
                 s-3,1.3-3,3v37.6c0,1.7,1.3,3,3,3S29.1,61.9,29.1,60.2z M56.2,19.6c-1.7,0-3,1.3-3,3V68c0,1.2-1,2.2-2.2,2.2H14.9
                 c-1.2,0-2.2-1-2.2-2.2V22.6c0-1.7-1.3-3-3-3s-3,1.3-3,3V68c0,4.5,3.7,8.2,8.2,8.2H51c4.5,0,8.2-3.7,8.2-8.2V22.6
                 C59.2,21,57.9,19.6,56.2,19.6z M62.9,10.3H49.3V3c0-1.7-1.3-3-3-3H19.6c-1.7,0-3,1.3-3,3v7.3H3c-1.7,0-3,1.3-3,3s1.3,3,3,3h59.9
                 c1.7,0,3-1.3,3-3S64.5,10.3,62.9,10.3z M43.3,10.3H22.6V6h20.7L43.3,10.3L43.3,10.3z"/>
               </svg>
              </button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
