<!--
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="addTransactionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addTransactionModalLabel">Create Transaction</h4>
                <p class="modal-intro">Enter the required values below.</p>
            </div>
        </div>
    </div>
</div>
<div class="container col-md-6">
    <div class="row">
        <div class="col-md-9">
            <h1 class="asset-title" id='transactionName'>Review Contract</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <!-- <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          When invoked, this transaction will have the following attributes:
          <br>
          <ul>
            
              
                <li><span class="attribute"><b>contract</b></span></li>
              
            
              
            
              
            
          </ul>
        </div>
      </div>
      <button (click)="resetForm();" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTransactionModal">Invoke</button>
    </div> -->
        <form [formGroup]="dataForm">
            <div class="">
                <div class="form-group text-left">
                    <label for="caseid">Contract ID</label>
                    <input formControlName="caseid" type="text" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left">
                    <label for="property">Property</label>
                    <input formControlName="property" type="text" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left">
                    <label for="amount">Amount</label>
                    <input formControlName="amount" type="text" class="form-control" [readonly]="true">
                </div>
                <label class="hidden" for="contractState">Contract State</label>
                <div class="hidden">
                    <label>
                        <input formControlName="contractState" name="contractState" value="Draft" type="radio" /> Draft
                    </label>
                    <label>
                        <input formControlName="contractState" name="contractState" value="Review" type="radio" /> Review
                    </label>
                    <label>
                        <input formControlName="contractState" name="contractState" value="Revise" type="radio" />
                        Revise
                    </label>
                    <label>
                        <input formControlName="contractState" name="contractState" value="Endorse" type="radio" />
                        Endorse
                    </label>
                    <label>
                        <input formControlName="contractState" name="contractState" value="Close" type="radio" />
                        Close
                    </label>
                </div>
                <div class="form-group text-left">
                    <label for="pSolicitorName">Purchaser Solicitor Name</label>
                    <input formControlName="pSolicitorName" type="text" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left">
                    <label for="pSolicitorFirm">Purchaser Solicitor Firm</label>
                    <input formControlName="pSolicitorFirm" type="text" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left">
                    <label for="vSolicitorName">Vendor Solicitor Name</label>
                    <input formControlName="vSolicitorName" type="text" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left">
                    <label for="vSolicitorFirm">Vendor Solicitor Firm</label>
                    <input formControlName="vSolicitorFirm" type="text" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left">
                    <label for="vendorName">Vendor Name</label>
                    <input formControlName="vendorName" type="text" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left">
                    <label for="vendorAddress">Vendor Address</label>
                    <input formControlName="vendorAddress" type="text" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left">
                    <label for="vendorIdno">Vendor ID</label>
                    <input formControlName="vendorIdno" type="text" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left">
                    <label for="purchaserName">Purchaser's Name</label>
                    <input formControlName="purchaserName" type="text" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left">
                    <label for="purchaserAddress">Purchaser's Address</label>
                    <input formControlName="purchaserAddress" type="text" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left">
                    <label for="purchaserIdno">Purchaser's ID</label>
                    <input formControlName="purchaserIdno" type="text" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left textareaDiv">
                    <label for="terms">Terms</label>
                    <textarea formControlName="terms" class="form-control" rows="3" [readonly]="true"></textarea>
                </div>
                <div class="form-group text-left hidden">
                    <label for="purchaserEndorse">PurchaserEndorse</label>
                    <input formControlName="purchaserEndorse" type="checkbox" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left hidden">
                    <label for="vendorEndorse">VendorEndorse</label>
                    <input formControlName="vendorEndorse" type="checkbox" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left hidden">
                    <label for="pSolicitorEndorse">pSolicitorEndorse</label>
                    <input formControlName="pSolicitorEndorse" type="checkbox" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left hidden">
                    <label for="vSolicitorEndorse">vSolicitorEndorse</label>
                    <input formControlName="vSolicitorEndorse" type="checkbox" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left hidden">
                    <label for="endorse">Endorse Count</label>
                    <input formControlName="endorse" type="number" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left hidden">
                    <label for="active">Active</label>
                    <input formControlName="active" type="checkbox" class="form-control" [readonly]="true">
                </div>
                <div class="form-group text-left">
                    <label for="owner">Owner</label>
                    <input formControlName="owner" type="text" class="form-control" [readonly]="true">
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                    <strong>Error:</strong> {{errorMessage}}
                </div>
                <div *ngIf="successMessage" class="alert alert-success" role="alert">
                    <strong>Success:</strong> {{successMessage}}
                </div>
                <form [formGroup]="myForm">
                    <div class="modal-body">
                        <div class="form-group text-left hidden">
                            <label for="contract">contract</label>
                            <textarea formControlName="contract" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" [routerLink]="['/EContract']">Cancel</button>
                        <button (click)="addTransaction(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Confirm</button>
                    </div>
                </form>
            </div>
