View of User/Account for
<select [(ngModel)]="selectedValue">
  <option *ngFor="let c of allParticipants" [ngValue]="c">{{c.username}}</option>
</select>
<button (click)="changeRole()">Apply</button>
