/*
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height:100vh;
}
#container {
    display: grid;
    grid-template-columns: 150px auto;
    height:100%;

    #content {
        padding: 30px 50px;

        ul {
            list-style-type: none;
            margin:0;
            padding:0;

            li {
                background: #FFF;
                border-radius: 8px;
                padding:20px;
                margin-bottom: 8px;

                a{
                    font-size: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                    color: #00A8FF
                }
                ul {
                    margin-top: 20px;
                    li {
                        padding: 0;
                        a{
                            font-size:1em;
                            font-weight:300;
                        }
                    }
                }
            }
        }
    }
}